posts = partial('_partials/posts', { postlimit: 20 })

doctype xml
rss(version='2.0')
  channel
    title #{ title }
    link #{ site_url }
    each post in posts
      item
        title #{ post.title }
        link #{ site_url }/#{ post.slug }
        description <![CDATA[!{ partial("blog/" + post.slug) }]]>


//- doctype xml
//- rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
//-   channel
//-     title The JS Bin Blog
//-     link #{ jsbin }/blog
//-     atom:link(href="#{ jsbin }/blog/feed.xml", rel="self", type="application/rss+xml")
//-     for post in eachPost(public.blog._data)
//-       item
//-         title= post.title
//-         description <![CDATA[!{ partial(post.slug).replace(/src="\/([^\/])/g, 'src="' + static + '$1') }]]>
//-         pubDate= new Date(post.date)
//-         link #{ jsbin }/blog/#{ post.slug }
//-         guid(isPermaLink="true") #{ jsbin }/blog/#{ post.slug }
