---
layout: false
permalink: til.xml
---

- posts = collections.til.slice(0, 50)

doctype xml
rss(version='2.0'
  xmlns:content='http://purl.org/rss/1.0/modules/content/'
  xmlns:dc='http://purl.org/dc/elements/1.1/'
  xmlns:atom='http://www.w3.org/2005/Atom'
  xmlns:sy='http://purl.org/rss/1.0/modules/syndication/'
  xmlns:slash='http://purl.org/rss/1.0/modules/slash/')
  channel
    title remy sharp's til
    atom:link(href=`${ site_url }/til.xml` rel="self" type="application/rss+xml")
    link= site_url
    description Remy Sharp's TILs
    image
      title= site_title
      link= site_url
      url https://remysharp.com/images/avatar-125.jpg
      width 125
      height 125
    lastBuildDate #{ moment(posts[0].date).format('EEE, dd MMM yyyy HH:mm:ss +0000') }
    managingEditor remy@remysharp.com (Remy Sharp)
    webMaster remy@remysharp.com (Remy Sharp)
    language en
    sy:updatePeriod hourly
    sy:updateFrequency 1
    generator Honestly, I don't know what most of these tags do, I copied a lot of them from other people's web site ¯\_(ツ)_/¯

    each post in posts
      item
        title= post.data.title
        guid(isPermaLink="false")= post.slug
        link= site_url + post.url
        - var body = post.output
        pubDate= moment(post.data.date).format('EEE, dd MMM yyyy HH:mm:ss +0000')
        description <![CDATA[!{ body.replace(/<h1>.*?<\/h1>/, '').split('<!--more-->')[0].replace(/(<([^>]+)>)/ig, '').trim() }]]>
        content:encoded <![CDATA[!{ body.replace(/<h1>.*?<\/h1>/, '').replace(/<!--more-->\s+?/m, '').replace(/<img(.*?)src="\//g, '<img$1src="' + site_url + '/').replace(/<a href="\//g, '<a href="' + site_url + '/').replace(/<a href="#/g, '<a href="' + site_url + post.url + '#') }<p><em>Originally published on <a href="#{ site_url }#{ post.url }">Remy Sharp's b:log</a></em></p>]]>
