extends /_partials/layout

block meta
  link(rel="canonical" href=`https://remysharp.com${url}`)
  meta(name="twitter:creator" content="@rem")
  meta(name="twitter:title" content=`${title}`)
  meta(name="twitter:site" content="@rem")
  meta(name="twitter:domain" content="Remy's b:log")
  meta(name="twitter:image:src" content=`https://remysharp.com/images/books/${goodreads_id}.jpg`)
  meta(name="twitter:card" content="summary")
  meta(name="og:image" content=`https://remysharp.com/images/books/${goodreads_id}.jpg`)
  meta(name="og:title" content=`${title}`)
  meta(name="og:description" content=`(${rating}/5) ${summary}`)
  meta(name="description" content=`(${rating}/5) ${summary}`)

block content
  - permalink = url;
  - otherBooks = seriesBooks(series, slug)

  main.content
    article.post.h-review
      h1.title.p-name
        a(href=`${url}` title=`Permanent Link: ${title}`).u-url.u-uid= `Review: ${title}`

      .misc-content.book-meta
        p.p-author.h-card
          strong Author
          | #{author}
        p
          strong Published
          | <time class="dt-published" datetime="#{moment(published).format('yyyy')}">#{published}</time>
        p.p-rating
          strong My rating
          span.rating(data-rating=`${ rating }` aria-label=`${ rating } stars out of 5` title=`${ rating } stars out of 5`)
            span #{rating} / 5
        p
          strong Read
          if Array.isArray(read)
            | <time datetime="#{moment(read).format('yyyy-MM-dd')}">#{read.map(_ => moment(_).format('MMMM yyyy')).join(', ')}</time>
          else
            | <time datetime="#{moment(read).format('yyyy-MM-dd')}">#{moment(read).format('MMMM yyyy')}</time>
        img.cover(src=`/images/books/${goodreads_id}.jpg` width="64")

      .post-content.e-content
        if spoiler
          p
            strong This review includes spoilers, you've been forewarned.
          details
            summary #{summary}

            != yield

            if clippings
              h3 #{clippings.length} Highlight(s)
              each clipping in clippings
                .clipping
                  p.clipping-meta Location #{clipping.location || clipping.page}
                  p.clipping-text #{clipping.text}

        else
          != yield

          if clippings
            h3 #{clippings.length} Highlight(s)
            each clipping in clippings
              .clipping
                p.clipping-meta Location #{clipping.location || clipping.page}
                p.clipping-text #{clipping.text}


        if otherBooks.length > 0
          p
            strong Others I've read in the "#{series}" series:
            ul
              each book in otherBooks
                li
                  a(href=`${filenameToUrl(book.filename)}` title=`${book.title}`)= book.title

      if date
        .misc-content
          p.metadata Last read on <time datetime="#{ moment(lastDate(read)).format('yyyy-MM-dd HH:mm:ss') }">#{moment(lastDate(read)).format('d-MMM yyyy')}</time>, starting on <time datetime="#{ moment(lastDate(start)).format('yyyy-MM-dd HH:mm:ss') }">#{moment(lastDate(start)).format('d-MMM yyyy')}</time>, #{ pages } pages.<br><a target="_blank" rel="noopener" href="https://github.com/remy/remysharp.com/blob/main/#{current.inputPath}">Edit this review</a>, <a href="#{goodreads}">Goodreads info</a>
