---
layout: public
---

.post
  h1.title Books
  div.post-content
    :markdown
      These are the books I'm currently reading, and have read with my reviews on [Goodreads](https://www.goodreads.com/remysharp).

  if _currently.length
    .post-content.currently-reading
      h2 Currently
      each book in _currently
        div
          img(src=`${book.image}`)
          div
            p.title
              a(href=`${book.url}` target="_blank")= book.title
            p.by By #{book.author}

  .post-content
    h2 Previously

    .review-grid
      header
        span Read
        span Title
        span Author
        span
          select#rating(name="rating")
            option(value="0") Rating
            option(value="5") â˜…â˜…â˜…â˜…â˜…
            option(value="4") â˜…â˜…â˜…â˜…
            option(value="3") â˜…â˜…â˜…
            option(value="2") â˜…â˜…
            option(value="1") â˜…
      section
        each review in _data
          - rating = `${ 'â˜…'.repeat(review.rating) }${ 'â˜†'.repeat(5 - review.rating)}`
          div(data-id=`${review.id}`)
            img.cover(src=`/images/books/${review.book.id}.jpg`)
            p.when #{moment(review.read).format('D-MMM \'YY')}
              br
              span(title=`${review.read}`) #{duration(review.started, review.read)}
            p.title
              a(href=`/books/${moment(review.read).format('YYYY')}/${review.slug || slugify(review.book.title)}`) #{review.book.title}
            if review.review
              p.review-link
                if review.summary
                  span= review.summary
                span
                  span ðŸ“
                  a(href=`/books/${moment(review.read).format('YYYY')}/${review.slug || slugify(review.book.title)}`) My review
                  if review.spoiler === "true"
                    span &nbsp;(includes spoilers)
            else
              p.review-link.no-review &nbsp;

            p.author #{review.book.author}
            p.rating
              span.rating(data-rating=`${ review.rating }` aria-label=`${ review.rating } stars out of 5`)
                span #{review.rating} / 5

      //- script.
      //-   document.getElementById('rating').onchange = function (event) {
      //-     const value = event.target.value || 0;
      //-     Array.from(document.querySelectorAll('#reviews tr')).forEach(row => {
      //-       if (value == 0) {
      //-         row.hidden = false;
      //-         return;
      //-       }
      //-       if (!row.innerHTML.includes(`data-rating="${value}"`)) {
      //-         row.hidden = true;
      //-       } else {
      //-         row.hidden = false;
      //-       }
      //-     });
      //-   }
