---
layout: public
---

.post
  h1.title Books
  div.post-content
    :markdown
      These are the books I'm currently reading, and have read with my reviews on [Goodreads](https://www.goodreads.com/remysharp).

  if _currently.length
    .post-content.currently-reading
      h2 Currently
      each book in _currently
        div
          img(width="64" src=`${book.cover}`)
          div
            p.title
              a(href=`${book.goodreads}` target="_blank")= book.title
            p.by By #{book.author}

  .post-content
    h2 Previously

    p
      em My rating system:
    ul.rating-system
      li â˜…â˜†â˜†â˜†â˜† &nbsp; I want to have my time back
      li â˜…â˜…â˜†â˜†â˜† &nbsp; I was hoping for more, maybe skip the book
      li â˜…â˜…â˜…â˜†â˜† &nbsp; It was good, or decent and worthwhile
      li â˜…â˜…â˜…â˜…â˜† &nbsp; Really enjoyed it, a strong recommendation
      li â˜…â˜…â˜…â˜…â˜… &nbsp; I loved it - a must read, and it moved me in some way

    .review-grid
      header
        span Read
        span Title
        span Author
        span
          select#rating(name="rating")
            option(value="0") Rating
            option(value="5") â˜…â˜…â˜…â˜…â˜…
            option(value="4") â˜…â˜…â˜…â˜…
            option(value="3") â˜…â˜…â˜…
            option(value="2") â˜…â˜…
            option(value="1") â˜…
      section
        each book in collections.books
          - review = book.data
          - rating = `${ 'â˜…'.repeat(review.rating) }${ 'â˜†'.repeat(5 - review.rating)}`
          - url = book.inputPath ? filenameToUrl(book.inputPath) : '#'
          div(data-id=`${book.slug}`)
            img.cover(width="64" src=`/images/books/${review.goodreads_id}.jpg`)
            p.when(data-date=`${firstDate(review.read)}`) #{moment(review.read).format(`d-MMM ''yy`)} #{readCount(review.read)}
              br
              span(title=`${firstDate(review.read)}`) #{duration(review.start, review.read)}
              if review.clippings
                br
                span.clipping-count Highlights #{review.clippings.length}
              else
                br
                span.clipping-count No highlights
            p.title
              a(href=`${url}`) #{review.seriesEntry || review.title}
            if review.summary
              p.review-link
                if review.summary
                  span !{review.summary}
                span
                  span ðŸ“
                  a(href=`${url}`) My review
                  if review.spoiler === true
                    span &nbsp;(includes spoilers)
            else
              p.review-link.no-review &nbsp;

            p.author #{review.author}
            p.rating
              span.rating(data-rating=`${ review.rating }` aria-label=`${ review.rating } stars out of 5`)
                span #{review.rating} / 5

      //- script.
      //-   document.getElementById('rating').onchange = function (event) {
      //-     const value = event.target.value || 0;
      //-     Array.from(document.querySelectorAll('#reviews tr')).forEach(row => {
      //-       if (value == 0) {
      //-         row.hidden = false;
      //-         return;
      //-       }
      //-       if (!row.innerHTML.includes(`data-rating="${value}"`)) {
      //-         row.hidden = true;
      //-       } else {
      //-         row.hidden = false;
      //-       }
      //-     });
      //-   }
