- posts = year ? collections.years[year].slice(0) : Object.keys(collections.years).sort((a, b) => b - a).reduce((acc, curr) => acc.concat(collections.years[curr]), [])
- last = null
.post.archive-page
  h1.title #{ title || year } archive
  - index = 0;
  - post = posts[index]
  div#filter-posts.needs-js.filter-group.misc-content
    span Filter posts:
    div.blog
      input#filter-blog-posts(checked name="blog" type="checkbox")
      label(for="filter-blog-posts") Blog posts
    div.links
      input#filter-links(checked name="link" type="checkbox")
      label(for="filter-links") Links
    div.devlog
      input#filter-devlog(checked name="devlog" type="checkbox")
      label(for="filter-devlog") Devlogs
    div.til
      input#filter-til(checked name="til" type="checkbox")
      label(for="filter-til") TIL
    div.books
      input#filter-books(checked name="books" type="checkbox")
      label(for="filter-books") Books
  while post
    if post.data.date
      if !year || moment(post.data.date).format('YYYY') == year
        - month = moment(post.data.date).format('MMMM')
        - postYear = moment(post.data.date).format('YYYY')
        if !year && last != postYear
          h1.title= postYear
          - last = postYear
        .post-content
          h2= month
          ul
            while post && month == moment(post.data.date).format('MMMM') && (!year || moment(post.data.date).format('YYYY') == year)
              if post && post.data.date
                li(data-type=`${post.data.type}`)
                  a(href=`${ post.url }`)= post.data.title
                  time.date #{ moment(post.data.date).format('D-MMM YYYY')}
              - post = posts[index += 1];
      else
        - post = posts[index += 1];
    else
      - post = posts[index += 1];
