- prefix = '.'.repeat(current.path.length).split('..').join('../')

doctype html
html#remysharp-com(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= customTitle || title || site_title
    - var desc = title === site_title ? title + ' :: ' + site_description : title || site_description
    if excerpt
      - desc = metaExcerpt
    if summary
      - desc = summary

    meta(name="source" content="https://github.com/remy/remysharp.com")
    meta(name="description" content=`${desc}`)
    meta(name="author" content="Remy Sharp")
    meta(name="HandheldFriendly" content="True")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1")
    meta(name="theme-color" content="#1A1A1A")
    meta(name="monetization" content="$ilp.uphold.com/AQzKX9y6jBdh")

    link(rel="webmention" href="https://webmention.io/remysharp.com/webmention")
    link(rel="pingback" href="https://webmention.io/remysharp.com/xmlrpc")
    link(rel="canonical" href=`https://remysharp.com${url}`)
    link(rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Remy Sharp's b:log")

    block meta

    //- link(rel="icon" sizes="192x192" href="/images/avatar-favicon.png")
    //- link(rel="apple-touch-icon" href="/images/avatar-favicon.png")
    //- link(rel="shortcut icon" href="/favicon.ico")

    link(rel='apple-touch-icon' sizes='57x57' href='/images/favicons/blog/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/images/favicons/blog/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/images/favicons/blog/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/images/favicons/blog/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/images/favicons/blog/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/images/favicons/blog/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/images/favicons/blog/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/images/favicons/blog/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/images/favicons/blog/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='/images/favicons/blog/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicons/blog/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='/images/favicons/blog/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favicons/blog/favicon-16x16.png')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/images/favicons/blog/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')



    link(rel="manifest" href="/manifest.json")
    link(rel="preconnect" href="https://commento.io")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="preload" href="https://fonts.gstatic.com/s/ubuntumono/v8/KFOjCneDtsqEr0keqCMhbCc6CsTYl4BO.woff2" as="font" crossorigin)

    link(rel="alternate" type="application/rss+xml" title="Remy Sharp's b:log" href="/feed.xml")
    link(rel="alternate" type="application/rss+xml" title="Remy Sharp's (just the) b:log" href="/blog.xml")
    link(rel="alternate" type="application/rss+xml" title="Remy Sharp's l:inks" href="/links.xml")
    link(rel="alternate" type="application/rss+xml" title="Remy Sharp's d:evlog" href="/devlog.xml")
    link(rel="alternate" type="application/rss+xml" title="Remy Sharp's b:ooks" href="/books.xml")
    //- link(rel="alternate" type="application/rss+xml" title="Remy Sharp's v:log" href="https://www.youtube.com/feeds/videos.xml?playlist_id=PLXmT1r4krsTr8vT7enGZSsENjE2jyTsgW")

    style
      include /css/bear.css

    //- script.
    //-   document.documentElement.onkeydown = e => {
    //-     if (e.key === 'm') {
    //-       window.mq.rel = window.mq.rel.split('').reverse().join('');
    //-     }
    //-   }

    link(as="style" href=`/css/screen.css` rel="preload")
    link(as="style" href=`/css/prism.css` rel="preload")
    link(rel="stylesheet" href=`/css/screen.css`)
    link(rel="stylesheet" href=`/css/prism.css`)

    script.
      var whenReady = []; // on ready handler
  body(id=`${current.path.join('-')}-page` class=`month-${moment().format('MMMM').toLowerCase()}`)

    include page-nav

    //- An experiment in using shadow DOM to isolate styles that causes ad blockers
    //- template(shadowrootmode="open")
    //-   style
    //-     include /css/bear.css

    //-   link(rel="stylesheet" href=`/css/screen.css`)
    //-   link(rel="stylesheet" href=`/css/prism.css`)
    //-   div(id=`${current.path.join('-')}-page`)
    //-     block content
    block content

    footer.site-footer.clearfix.flex.subpanel
      .flex-item.archives
        h2 Archives
        ul
          li: a(href="/archive") All years
          - var thisYear = moment().format('yyyy') * 1
          while thisYear >= 2006
            li: a(href=`/${ thisYear }`)= thisYear--
      .flex-item.links
        h2 Links
        include links
      .flex-item.license
        .row
          h2 Remy Sharp
            img#avatar.u-photo(alt="" src="/images/avatar-2022-square.avif" width="60")
            include social-badge
        .row.bio.p-note
          include mini-bio
        //- h2
        //-   a(href="https://2016.ffconf.org/workshops#debug-and-tools?utm_source=blog&utm_medium=banner&utm_campaign=2016") Learn from me
        //- :marked
        //-   Attend my debugging masterclass workshop in November in the UK and learn about workflow, memory leaks, advanced console tricks, mobile debugging and more: **[reserve&nbsp;your&nbsp;place&nbsp;now](https://2016.ffconf.org/workshops#debug-and-tools?utm_source=blog&utm_medium=banner&utm_campaign=2016)**

        h2 License
        p.vcard All content by <a class="url fn" href="#{site_url}">Remy Sharp</a> and under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/uk/">creative commons</a> and code under <a href="http://rem.mit-license.org">MIT&nbsp;license</a>.

          //- [![keep me honest](/images/donate-hotpink.svg)](https://www.paypal.me/rem "simple-link")
        :marked
          All code and content for this blog is available as [open source on GitHub](https://github.com/remy/remysharp.com).

    block scripts
      script(src=`/js/permalink.js`)
      script(src=`/js/index.js?1`)
      script(src=`/js/redirect.js`)
    script.
      if ('serviceWorker' in navigator && location.origin.indexOf('localhost') === -1) navigator.serviceWorker.register('/service-worker.js');

    script(src="/js/version.js")
    script(type="awesome/sauce")
      |
      |
      |  Carved up by hand using JavaScript, hard work and a sparkle of hacking.
      |
      |  Also, this:
      |
      |
      |
      |                        \_            /;              _.._
      |                        `\~--.._     //'            ,(+=\\\\
      |                         `//////\  \\/;'             /~ (\\\\
      |                           ~/////\~\`)'             /;   ))))
      |                               `~'  |              ((`~/((((\
      |                               ;'_\'\             /'))   )))))
      |                              /~/ '" "'     _.  /'/\_ /^\`((( \
      |                             `\/'       _.-~/--/ (  =(   | ,  |
      |                                     _/~\_)_}___/^\/~`\.__\|==|
      |                                    /uUUU)        )        |  |
      |                                   (   / |      _-=o|\__ /'/~ \
      |                                   ' /'  |     /(((((\`\(  |~\/
      |                                   /'    |   /' )))))"`\`\|/_/---.._,$$,
      |                             .,ssS$$$Sss|._/_..-((('    )\)>>>      ~\$
      |                          ,sS$$$$$$$$$$$|$$$$$$$  |/    //'~`o        `\
      |                        ,$$$$$$$$$$$$$$|$$S$$$$'  (    /                \
      |                      ,$$$$$$$$$$$$S$$|$$$$$$$'   |   /              ,s$$$
      |                    s$$$$$S$$$$$$$$$S|$$$$$$$$    |  /              $$$$$$
      |                  _~,$S""''     ``"S|$$S$$$$$"    (_,`\,          ,$$$$$$$;
      |                /~ ,"'             / 'S$$$$$"      \_./|        s$$$$$$$$$$
      |             (~'      _,  \==~~)  /     """         \  |       $$$$$$$$$$$$
      |              (0\   /0/     \-' /'                   \ |  |  ,$$$$$$$$$$$$$,
      |              `/'  '         _-~                     |= \_-\ $$$$$$$$$$$$$$s
      |              (~~~)      _.-~_-   \             \  ,s|= |   `"$$$$$$$$$$$$$$$
      |             ( `-'  )/>-~  _/-__   |            |,$$$|_/,      `"$$$$$$$$$$$$
      |             /V^^^^V~/' _/~/~~  ~~-|            |$$$$$$$$         "$$$$$$$$$$,
      |            /  (^^^^),/' /'        )           /S$$$$$$$;         ,$$$$$$$$$$$,
      |          ,$$_  `~~~'.,/'         /     _-ss, /(/-(/-(/'        ,s$$$$$$$$$$$$$
      |        ,s$$$$$ssSS$$$'         ,$'.s$$$$$$$$'                  (/-(/-(/-(/-(/'
      |       S$$$$$$$$$$$$$$        ,$$$$$$$$$$$$$'
      |      (/-(/-(/-(/-(/'      _s$$$$$$$$$$$$$$
      |                          (/-(/-(/-(/-(/-'
      |
      |
      |
      |  – Remy 🖤
      |
      |
