extends ../_partials/layout

block content
  permalink = '/' + moment(date).format('YYYY/MM/DD') + '/' + current.source;
  safeTitle = title.replace(/'/g, '\\\'')

  != partial('../_partials/post-nav')

  main.content(role="main")
    article.post
      h1.title
        a(href="#{permalink}" rel="bookmark" title="Permanent Link: #{title}")= title

      small.edit: a(href="https://github.com/remy/remysharp.com/blob/master/public/blog/#{current.source}.md") (edit)
      .post-content
        //- strip the h1 out of the body as we printed it above as the permalink
        - if (yield) yield = yield.replace(/<h1>.*?<\/h1>/, '');
        != yield

        p.follow Posted #{moment(date).format('D-MMM YYYY')} under #{tags.join(' & ')}. <span class="note">Find me on Twitter <a href="http://twitter.com/rem">here</a> I'll tweet about JavaScript, HTML5 and other such gems (amongst usual tweet-splurges)</span>

      if environment == "production"
        .comments
          h2 Comments
          #disqus_thread
          script.
            var disqus_shortname = 'remysharp';
            var disqus_url = 'http://remysharp.com#{permalink}/';
            var disqus_title = '#{safeTitle}';
          noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          a.dsq-brlink(href="http://disqus.com") comments powered by <span class="logo-disqus">Disqus</span></a>