extends ../_partials/layout

block meta
  - permalink = '/' + moment(date).format('YYYY/MM/DD') + '/' + current.source;
  link(rel="canonical" href=`https://remysharp.com${url}`)
  - var summary = excerpt
  if data.summary
    - summary = data.summary
  else if summary
    - summary = summary.replace(/<(?:.|\n)*?>/gm, '')
    - summary = summary.replace(/^#.*?\n+/m, '')
    - summary = summary.replace(/(?:!)?\[(.*?)\]\(.*?\)/g, '')
    - summary = summary.replace(/\n{2,}/g, '\n')

  if summary
    - summary = '<meta name="twitter:description" content="' + summary.replace(/"/g, '&quot;').trim() + '">';
    != summary
  meta(name="twitter:creator" content="@rem")
  meta(name="twitter:title" content=`${title}`)
  meta(name="twitter:site" content="@rem")
  meta(name="twitter:domain" content="Remy's b:log")
  - var img = image;
  - if (!img && yield.indexOf('<img') !== -1) img = (yield.replace(/\n/g, '').match(/<img\b[^>]+?src\s*=\s*['"]?([^\s'"?#>]+)/) || [,])[1];
  - if (img && img.indexOf('http') !== 0) img = site_url + img;
  if img
    meta(name="twitter:image:src" content=`${img}`)
    meta(name="twitter:card" content="summary_large_image")
  else
    meta(name="twitter:image:src" content=`https://remysharp.com/images/cards/${moment(data.date).modDOY(9)}.jpg`)
    meta(name="twitter:card" content="summary")

block content
  - permalink = url;
  - safeTitle = data.title.replace(/'/g, '\\\'')

  include ../_partials/post-nav

  main.content
    if data.draft
      div.warning
        | Draft posts are a work in progress.&nbsp;
        if modified
          | Last edited #{ moment(modified).format('D-MMM YYYY') }

    article.post.h-entry
      h1.title.p-name
        a(href=`${site_url}${url}` rel="bookmark" title=`Permanent Link: ${title}`).u-url.u-uid= title

      .post-content.e-content
        - if (yield) res = yield.split(/<!--\s*more\s*-->/);
        if res
          != res[0]
          if (!nosubscribe && tags.indexOf('personal') === -1)
            if ad
              != partial('/_partials/ads/' + ad)
          != res[1]
        else
          != yield


      if data.draft
        .misc-content
          p.metadata Edited on <time class="dt-published" datetime="#{ moment(date).format('YYYY-MM-DD HH:mm:ss') }">#{moment(date).format('D-MMM YYYY')}</time> under #{(tags || []).join(' & ')}. <a target="_blank" rel="noopener" href="https://github.com/remy/remysharp.com/blob/master/public/blog/#{current.source}.md">Edit this post</a>
          p.update Drafts may be incomplete or entirely abandoned, so please forgive me. If you find an issue with a draft, or would like to see me write about something specifically, please try <a href="http://github.com/remy/remysharp.com/issues/new">raising an issue</a>.
      else
        .misc-content
          p.metadata Published <time class="dt-published" datetime="#{ moment(date).format('YYYY-MM-DD HH:mm:ss') }">#{moment(date).format('D-MMM YYYY')}</time> under ##{(tags || []).join(' & #')}. <a target="_blank" rel="noopener" href="https://github.com/remy/remysharp.com/blob/master/public/blog/#{current.source}.md">Edit this post</a>

          //- if data.tags && data.tags.indexOf('personal') === -1
          //-   footer.work-with-me
          //-     include ../_partials/work-with-me

          if likes
            .webmentions
              p 👍 #{likes} likes
              div !{likeImages}

          //- if !nosubscribe
          //-   footer.follow.update
          //-     include ../_partials/subscribe

        include ../_partials/comments
