extends ../_partials/layout

block meta
  - permalink = '/' + moment(date).format('YYYY/MM/DD') + '/' + current.source;
  link(rel="canonical" href="https://remysharp.com#{permalink}")
  - var summary = null
  if yield.split(/<!--\s*more\s*-->/).length > 1
    - summary = yield.split(/<!--\s*more\s*-->/)[0].replace(/<h1>.*?<\/h1>/, '').trim()
  else if yield.split('<hr>').length > 1
    - summary = yield.split('<hr>')[0].replace(/<h1>.*?<\/h1>/, '').trim()
  else
    - summary = yield.split('<p>').slice(0, 4).join('<p>').replace(/<h1>.*?<\/h1>/, '').trim()
  if summary
    - summary = '<meta name="twitter:description" content="' + summary.replace(/<(?:.|\n)*?>/gm, '') + '">';
    != summary
  meta(name="twitter:creator" content="@rem")
  meta(name="twitter:title" content="#{title}")
  meta(name="twitter:site" content="@rem")
  meta(name="twitter:domain" content="Remy's b:log")
  - var img = image;
  - if (!img && yield.indexOf('<img') !== -1) img = (yield.replace(/\n/g, '').match(/<img\b[^>]+?src\s*=\s*['"]?([^\s'"?#>]+)/) || [,])[1];
  - if (img && img.indexOf('http') !== 0) img = site_url + img;
  if img
    meta(name="twitter:image:src" content="#{img}")
    meta(name="twitter:card" content="summary_large_image")
  else
    meta(name="twitter:card" content="summary")

block ampalt
  - permalink = '/' + moment(date).format('YYYY/MM/DD') + '/' + current.source;
  link(rel="amphtml" href="https://remysharp.com#{permalink}/amp")

block content
  - permalink = '/' + moment(date).format('YYYY/MM/DD') + '/' + current.source;
  - safeTitle = title.replace(/'/g, '\\\'')

  if !amp
    != partial('../_partials/post-nav')

  main.content
    article.post.amp-wp-article
      if amp
        h1.title= title
      else
        h1.title
          a(href="#{permalink}" rel="bookmark" title="Permanent Link: #{title}")= title
        small.edit: a(href="https://github.com/remy/remysharp.com/blob/master/public/blog/#{current.source}.md") (edit)

      .post-content
        //- strip the h1 out of the body as we printed it above as the permalink
        //- - if (yield) yield = yield.replace(/<h1>.*?<\/h1>/, '');
        if amp
          - yield = yield.replace(/<p><img(.*?)><\/p>/g, '<amp-img layout="responsive"$1></amp-img>');
          != yield
        else
          - if (yield) res = split(yield.replace(/<h1>.*?<\/h1>/, ''));
          if res
            != res[0]
            if (!nosubscribe && tags.indexOf('personal') === -1)
              != partial('../_partials/' + (ad || 'terminal') + '-ad')
            != res[1]
          else
            != yield

        p.metadata Posted #{moment(date).format('D-MMM YYYY')} under #{tags.join(' & ')}.

        if !nosubscribe && !amp
          footer.follow.update
            != partial('../_partials/subscribe')
        //- if !amp
        //-   #code-sponsor-widget
        //-   script(async defer src="https://app.codesponsor.io/scripts/vzZ1-MnjP7scUNCV7uya0A?theme=light&width=660")
      if amp
        footer
          a(href="#{permalink}#comments") Leave a comment
      else if environment == "production"
        #comments.comments
          h2 Comments
          #disqus_thread
          script.
            var disqus_shortname = 'remysharp';
            var disqus_url = 'http://remysharp.com#{permalink}/';
            var disqus_title = '#{safeTitle}';
          //- noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          //- a.dsq-brlink(href="http://disqus.com") comments powered by <span class="logo-disqus">Disqus</span></a>
