extends ../_partials/layout

block meta
  - permalink = '/' + moment(date).format('YYYY/MM/DD') + '/' + current.source;
  link(rel="canonical" href=`https://remysharp.com${url}`)
  - var summary = excerpt
  if summary
    - summary = '<meta name="twitter:description" content="' + summary.replace(/<(?:.|\n)*?>/gm, '') + '">';
    != summary
  meta(name="twitter:creator" content="@rem")
  meta(name="twitter:title" content=`${title}`)
  meta(name="twitter:site" content="@rem")
  meta(name="twitter:domain" content="Remy's b:log")
  - var img = image;
  - if (!img && yield.indexOf('<img') !== -1) img = (yield.replace(/\n/g, '').match(/<img\b[^>]+?src\s*=\s*['"]?([^\s'"?#>]+)/) || [,])[1];
  - if (img && img.indexOf('http') !== 0) img = site_url + img;
  if img
    meta(name="twitter:image:src" content=`${img}`)
    meta(name="twitter:card" content="summary_large_image")
  else
    meta(name="twitter:image:src" content=`https://remysharp.com/images/avatar-125.jpg`)
    meta(name="twitter:card" content="summary")

block content
  - permalink = url;
  - safeTitle = data.title.replace(/'/g, '\\\'')

  include ../_partials/post-nav

  main.content
    article.post.h-entry
      h1(data-edit=`https://github.com/remy/remysharp.com/blob/master/public/blog/${current.source}.md`).title.p-name
        a(href=`${site_url}${url}` rel="bookmark" title=`Permanent Link: ${title}`).u-url.u-uid= title

      .post-content.e-content
        //- - if (yield) res = split(yield.replace(/<h1>.*?<\/h1>/, ''));
        //- if res
        //-   != res[0]
        //-   if (!nosubscribe && tags.indexOf('personal') === -1)
        //-     != partial('../_partials/' + (ad || 'terminal') + '-ad')
        //-   != res[1]
        //- else
        != yield

        p.metadata Posted <time class="dt-published" datetime="#{ moment(date).format('YYYY-MM-DD HH:mm:ss') }">#{moment(date).format('D-MMM YYYY')}</time> under #{(tags || []).join(' & ')}.

        if likes
          .webmentions
            p 👍 #{likes} likes
            div !{likeImages}


        if data.tags && data.tags.indexOf('personal') === -1
          footer.work-with-me
            include ../_partials/work-with-me
        //- if !nosubscribe
        //-   footer.follow.update
        //-     include ../_partials/subscribe
      if NODE_ENV == "production"
        #comments.comments
          h2 Comments
          #disqus_thread
          script.
            var disqus_shortname = 'remysharp';
            var disqus_url = 'https://remysharp.com#{url}/';
            var disqus_title = '#{safeTitle}';
