- ready = 0;
- posts = collections.drafts.map(function (post) {
-   if (post.data.complete) ready++;
-   post.data.age = moment(post.data.modified).ageInDays()
-   return post
- }).sort((a, b) => a.data.age - b.data.age)

p
  em #{ready} posts ready to publish.

ul
  for post in posts
    if (post.data.title)
      li(class=`draft-post draft-${post.data.complete ? 'complete' : 'inprogress'} draft-${post.data.complete ? 0 : moment( post.data.modified ).age()}`)
        a(href=`${post.url}`)= post.data.title
        small.date Last edited: #{ moment( post.data.modified ).format('D-MMM YYYY')} (#{ post.data.age } days old)
        if (post.data.complete)
          small.ready ready
